<!DOCTYPE html>
<html>
  <head>
    <title>Simple Input Form</title>
  </head>
  <body>
    <h1>Enter Your Phone Number, Desired Role, And Address Information</h1>
    <form method="POST" action="/api/auth/register2">
      <label for="phone">Phone:</label>
      <input type="text" id="phone" name="phone" required /><br /><br />

      <label for="role">Role:</label>
      <input type="text" id="role" name="role" required /><br /><br />

      <label for="streetName">Street Name:</label>
      <input
        type="text"
        id="streetName"
        name="streetName"
        required
      /><br /><br />

      <label for="streetNumber">Street Number:</label>
      <input
        type="number"
        id="streetNumber"
        name="streetNumber"
        required
      /><br /><br />

      <label for="flatNumber">Flat Number:</label>
      <input
        type="number"
        id="flatNumber"
        name="flatNumber"
        required
      /><br /><br />

      <label for="district">District:</label>
      <input type="text" id="district" name="district" required /><br /><br />

      <label for="city">City:</label>
      <input type="text" id="city" name="city" required /><br /><br />

      <label for="state">State:</label>
      <input type="text" id="state" name="state" required /><br /><br />

      <label for="zip">ZIP:</label>
      <input type="number" id="zip" name="zip" required /><br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
